@import "../../variables.scss";

main {
  @include main;
  h1 {
    font-size: 40px;
    margin: 25px 0 15px;
  }
  p {
    margin: 0;
    font-size: 16px;
    @media (min-width: $large) {
      font-size: 20px;
    }
  }
}
