@import "./variables.scss";

nav.navigation-full {
  position: fixed;
  top: 0;
  right: 0;
  left: unset;
  bottom: 0;
  background-color: white;
  z-index: 300;
  overflow: hidden;
  @include ease-in-out(150ms);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    li.close {
      width: 50px;
      cursor: pointer;
      padding: 10px;
      margin: 10px 0 20px;
      svg {
        fill: $navy;
      }
    }
    a {
      padding: 10px;
      margin: 10px;
      text-decoration: none;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 200;
  box-shadow: 0 5px 10px -5px $shadowgray;
  &.desktop {
    ul {
      ul.right {
        display: flex;
        justify-content: flex-end;
        margin: 0;
      }
    }
  }
  &.mobile {
    ul {
      justify-content: space-between;
      a {
        &.logo {
          &::after {
            height: 3px;
            bottom: 9px;
            left: 50%;
          }
        }
      }
      li.dropdown {
        cursor: pointer;
        svg {
          height: 35px;
          fill: $navy;
        }
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
    @include bezier(150ms);
    @media (max-width: $medium) {
      width: 85%;
    }
    @media (max-width: 500px) {
      width: 87.5%;
    }
    @media (min-width: $medium) {
      width: 80%;
    }
    li {
      @include bezier(150ms);
    }
    a {
      padding: 7.5px 10px;
      text-decoration: none;
      font-size: 20px;
      color: $navy;
      position: relative;
      font-weight: lighter;
      letter-spacing: 1px;
      @include bezier(150ms);
      &.active {
        color: $green;
      }
      &.active::after {
        background-color: $green;
      }
      &::after {
        content: "";
        background-color: $navy;
        width: 0;
        position: absolute;
        bottom: 3px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        @include bezier(150ms);
      }
      &:hover::after {
        width: 85%;
      }
      &.logo {
        padding: 5px 20px 15px 0;
        &::after {
          height: 3px;
          bottom: 7px;
          left: 42%;
        }
        &.active::after {
          background-color: $lime;
        }
        li {
          svg {
            height: 40px;
          }
        }
      }
      li {
        display: inline-block;
      }
    }
  }
}
