@import "./variables.scss";

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $navy;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 24px 10px;
  padding: 12px 15px;
  p {
    display: inline;
  }
  &:before,
  &:after {
    content: '"';
  }
}

.fade {
  &-appear,
  &-enter {
    opacity: 0;
    z-index: 1;
  }
  &-appear-active,
  &-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $navy;
  cursor: pointer;
}
