@import "./variables.scss";

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  box-sizing: border-box;
}

input,
select {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $navy;
}

main {
  @include main;
  overflow: hidden;
  font-size: 20px;
  @media (min-width: $large) {
    font-size: 22.5px;
  }
  @media (min-width: $extraextralarge) {
    font-size: 25px;
  }
  .main-wrapper {
    @include width;
    @media (max-width: $large) {
      padding: 30px 0 30px 0;
    }
    @media (max-width: $medium) {
      padding: 20px 0 20px 0;
    }
    padding: 45px 0 45px 0;
  }
}

footer {
  background-color: white;
  box-shadow: 0 -5px 10px -5px $shadowgray;
  .footer-wrapper {
    @include width;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 24px;
    .row {
      padding-top: 24px;
      h2 {
        margin: 0;
      }
      &-1 {
        width: 60%;
        padding-right: 2em;
        p {
          margin-top: 16px;
          margin-bottom: 0;
        }
      }
      &-2 {
        width: 40%;
        h2 {
          margin-bottom: 16px;
        }
        a.email {
          text-decoration: none;
          color: $lime;
          @include bezier(250ms);
          &:hover {
            text-decoration: underline;
            color: $navy;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 16px 0 0 0;
          li {
            display: inline-block;
            padding-right: 16px;
            a {
              svg {
                fill: $navy;
                @include bezier(150ms);
                &:hover {
                  fill: $lime;
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
      @media (max-width: $medium) {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 17.5px 0;
  padding: 12px 15px;
  p {
    display: inline;
  }
  &:before,
  &:after {
    content: '"';
  }
}

.fade {
  &-appear,
  &-enter {
    opacity: 0;
    z-index: 1;
  }
  &-appear-active,
  &-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $navy;
  cursor: pointer;
}
