$navy: #16425b;
$lime: #7ccd7c;
$green: #3e885b;
$lightgray: #7c7c7c;
$shadowgray: rgba(0, 0, 0, 0.15);

$small: 400px;
$medium: 800px;
$large: 1200px;
$extralarge: 1500px;
$extraextralarge: 1800px;

@mixin main {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
  padding-top: 66px;
  h1:first-child {
    margin-top: 10px;
    font-size: 2em;
  }
}

@mixin width {
  margin: auto;
  @media (max-width: $medium) {
    width: 85%;
    font-size: 18px;
  }
  @media (max-width: 500px) {
    width: 87.5%;
    font-size: 17px;
  }
  @media (min-width: $medium) {
    width: 80%;
  }
  @media (min-width: $large) {
    width: 70%;
  }
  @media (min-width: $extralarge) {
    width: 65%;
  }
}

@mixin bezier($duration) {
  transition: all $duration cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin ease-in-out($duration) {
  transition: all $duration ease-in-out;
}

@mixin button-hover {
  position: relative;
  &:hover {
    padding-right: 30px;
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 10px;
    background-repeat: no-repeat;
    background-image: url("./assets/svg/arrow.svg");
    opacity: 0;
    @include ease-in-out(100ms);
  }
}
