$navy: #16425b;
$lime: #7ccd7c;
$green: #3e885b;
$lightgray: #7c7c7c;
$shadowgray: rgba(0, 0, 0, 0.15);

$small: 400px;
$medium: 800px;
$large: 1200px;
$extralarge: 1500px;

@mixin main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
  max-width: 1300px;
  padding: 66px 0 33px 0;
  @media (max-width: 800px) {
    width: 85%;
  }
  @media (max-width: 500px) {
    width: 87.5%;
  }
  @media (min-width: 800px) {
    width: 80%;
  }
}

@mixin bezier($duration) {
  transition: all $duration cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin ease-in-out($duration) {
  transition: all $duration ease-in-out;
}

@mixin button-hover {
  position: relative;
  &:hover {
    padding-right: 30px;
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 10px;
    height: 18px;
    width: 10px;
    background-repeat: no-repeat;
    background-image: url("./assets/svg/arrow.svg");
    opacity: 0;
    @include ease-in-out(100ms);
  }
}
