@import "../../variables.scss";

main {
  @include main;
  .past-speakers {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
    li {
      background-color: white;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
      padding: 15px;
      border-radius: 5px;
      h5 {
        margin: 0 0 10px 0;
        font-size: 24px;
        text-align: center;
      }
      h6 {
        font-size: 18px;
        margin: 0;
        color: $lightgray;
        font-weight: lighter;
        text-align: center;
      }
      p {
        margin: 10px 0;
        font-size: 17px;
      }
      .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          background-color: $navy;
          color: white;
          border: none;
          font-size: 18px;
          font-weight: light;
          border-radius: 5px;
          padding: 6px 16px;
          font-family: "Josefin Sans", sans-serif;
          cursor: pointer;
          outline: none;
          @include bezier(200ms);
          @include button-hover;
        }
      }
    }
  }
}
